<!doctype html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width"/>
    <meta name="distribution" content="global"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="Huei Tan"/>
    <meta name="publisher" content="Huei Tan"/>
    <meta name="rating" content="general"/>
    <meta name="robots" content="all"/>
    <meta name="spiders" content="all"/>
    <meta name="webcrawlers" content="all"/>

    <meta name="company" content="angular-validation"/>
    <meta name="abstract" content="Client-side Validation for AngularJS"/>
    <!-- <link rel="SHORTCUT ICON" type="image/x-icon" href="/images/favicon.ico" sizes="16x16 24x24 32x32 48x48 64x64" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" sizes="16x16 24x24 32x32 48x48 64x64" /> -->

    <meta name="subject" content="angular-validation"/>
    <meta name="description" content="Client-side Validation for AngularJS"/>
    <meta property="og:title" content="angular-validation"/>
    <meta property="og:url" content="http://huei90.github.io/angular-validation/"/>
    <meta property="og:description" content="Client-side Validation for AngularJS"/>
    <meta property="og:image" content="//avatars0.githubusercontent.com/u/2560096?v=3&s=460"/>

    <title>Angular Validation</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.2.2/css/foundation.min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/solarized_light.min.css"/>
    <link rel="stylesheet" href="demo/main.css"/>

</head>

<body ng-controller="index">
<div class="row">
    <div class="small-12 medium-12 large-12 columns">
        <form name="Form6" id="form6">
            <fieldset>
                <legend>Form ($submit-only)</legend>
                <label>Required</label>
                <input type="text" name="emailRequiredOnly" ng-model="Form6.required" validator="required"
                       valid-method="submit-only" message-id="emailRequiredOnly"/>
                <span id="emailRequiredOnly"></span>
                <label>Email</label>
                <input type="text" name="emailSubmitOnly" ng-model="Form6.email" validator="email"
                       valid-method="submit-only" message-id="emailSubmitOnly"/>
                <span id="emailSubmitOnly"></span>

                <label>Lucky Number</label>
                <select class="form-control" name="selectBlur" ng-model="Form6.select" validator="required"
                        message-id="selectBlur">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <span id="selectBlur"></span>

                <label>Checkbox</label>

                <div class="large-12 columns">
                    <input id="checkbox1" type="checkbox" name="checkBlur" ng-model="Form6.check" validator="required"
                           message-id="checkBlur"/><label for="checkbox1">Checkbox 1</label>
                    <span id="checkBlur"></span>
                </div>
                <div>
                    <label>Radio:</label>
                    <input type="radio" name="active" ng-model="Form6.active" value="yes" validator="required"
                           message-id="invalidActive-radio"/>Yes
                    <input type="radio" name="active" ng-model="Form6.active" value="no" validator="required"
                           message-id="invalidActive-radio"/>No
                    <div id="invalidActive-radio"></div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Form (ng-repeat)</legend>
                <div ng-repeat="a in form6.required">
                    <ng-form name="urlForm">
                        <input type="text" name="filed{{$index}}" ng-model="a.required" validator="required"/>
                    </ng-form>
                </div>
                <ul class="button-group">
                    <li>
                        <input type="button" class="button" validation-submit="Form6"
                               ng-click="success('Opa opa ,Valid!!!!')" value="Submit"/>
                    </li>
                </ul>
            </fieldset>
        </form>
    </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/js/foundation/foundation.tooltip.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.18/angular.min.js"></script>
<script src="dist/angular-validation.js"></script>
<script src="dist/angular-validation-rule.js"></script>
<script src="demo/demo.js"></script>
</body>
</html>
