.validation-valid {
    color: blue;
}

.validation-invalid {
    color: red;
}

#github-link {
    position: fixed;
    right: 1.5em;
    bottom: 1.5em;
    opacity: 0.6;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

#github-link:hover {
    opacity: 1;
}

